{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}

    <div class="container mt-5">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal mb-4">Nos solutions</h1>
                <p class="fs-5 text-muted">Faites grimper votre référencement en passant à la solution premium. Vous payez pour un mois, sans engagement ni prélèvements automatiques.</p>
            </div>
        </header>

        <main>
            <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Gratuit</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">0€<small class="text-muted fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Présence dans la top liste</li>
                                <li>Lien cliquable</li>
                                <li>Redirigez et montez !</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary" disabled>Vous êtes ici</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Pro</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">50€<small class="text-muted fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Présence sur la homepage</li>
                                <li>Lien sans _blank</li>
                                <li>En haut de la top liste</li>
                            </ul>
                            <form action="{{ path('checkout', {id: platform.id}) }}" method="POST">
                                <button type="submit" class="w-100 btn btn-lg btn-primary">C'est parti !</button>
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock %}
